<div style="min-height: 50px;">
	<div class="row">
		<div class="col-md-2"><%= image_tag 'money_intel.png' %></div>
		<div class="col-md-10"><a class="glyphicons cogwheel" href=""></a></div>
	</div>
</div>
