<div class="row">
	<div class="col-md-4"><%= image_tag 'money_intel.png' %></div>
	<div class="col-md-8">
		<div class="btn-group pull-right margin-top-10">
			<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				Welcome, Monte <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Action</a></li>
				<li><a href="#">Action2</a></li>
				<li class="divider"></li>
				<li><a href="#">Logout</a></li>
			</ul>
		</div>
	</div>
</div>
<ul class="nav navbar-nav responsive-nav">
	<li class=""><a href="#home">&nbsp;</a></li>
	<li class="active"><a href="#focus">Profile</a></li>
	
</ul>
