<label>ALLOCATION</label>

<div id="prsogress">
	<div id="slider">
		<div id="red"></div>
	    <div id="yellow"></div>
	    <div id="green"></div>
	</div>
	<input id="value" value="60% stock current" readonly />
</div>

<!-- <div class="well"></div> -->
<div id="container" style="min-width: 210px; height: 300px; max-width: 600px; margin: 0 auto"></div>
<%#= image_tag 'pie_chart.jpg' %>
<!-- < %= render 'static_pages/pie_chart' %> -->
<!-- <h4>See current holdings</h4> -->

<div class="well" style="padding: 5px !important">
Risk
<div style="color:#4089D2">Conservative &nbsp <i class="glyphicon glyphicon-question-sign"></i></div>
</div> 
