<label>ALLOCATION</label>

<%= render 'layouts/progressbar' %>

<div class="well"></div>

<%= image_tag 'pie_chart.jpg' %>
<!-- < %= render 'static_pages/pie_chart' %> -->
<h4>See current holdings</h4>

<% 3.times do %>
	<div class="panel panel-default">
		<div class="panel-body">
			skd jsadjasj ja dsaj aska
			soadosaiopasi 
		</div>
	</div>
<% end %>
