<% 4.times do %>
	<div class="panel panel-default">
		<div class="panel-body">
			<div>PLANING TOOL</div>
			<div><span class="glyphicon glyphicon-list"></span>
			skd jsadjasj ja dsaj aska
			soadosaiopasi </div>
		</div>
	</div>
<% end %>
